.meta
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 13px;
  color: #718096;
}

.type{
  text-transform: uppercase;
    display: inline-block;
    font-size: 10px;
    border-radius: 999px;
    padding: 0 10px;
    background-color: #bee3f8;
    color: '#ffffff';
    font-weight: bold;
    letter-spacing: 0.75px;
    margin-right: 10px;
}
.bg-dark{
 // background-color: #4c45a5 !important;
}
